go 1.25.4

use (
	.
	./deploy
	./examples/additional
	./examples/exposed-monopod
	./examples/exposed-multipod
	//./examples/kompose
	./examples/kubernetes
	./examples/no-sdk
	./examples/teeworlds
	./sdk
)
